body {
  background-color: transparent;
}


.container {
  background-color: transparent;
}


.special-card {
            background-color: rgba(245, 245, 245, 0.4);
        }

.logo {
  font-family: 'Peralta', cursive;
}

.logo a {
  color: rgba(0,0,0,.9);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}
