body {
  background-color: transparent;
}


.container {
  background-color: #EBEBEB;
}

.card-body {
  background-color: pink;
}

.logo {
  font-family: 'Peralta', cursive;
}

.logo a {
  color: rgba(0,0,0,.9);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}
