
{% extends 'baseevt.html' %}

      {% if user.is_staff %}
{% block breadcrumb %}

          <li class="breadcrumb-item"><a href="{% url 'listevtsmembre' %}" >Mes Inscription</a></li>
          <li class="breadcrumb-item active">Annulation</li>


{% endblock %}
      {% endif %}


{% block content %}


  <br>
  <br>
 <h2> Annulation de mon inscription à {{le_evt.intitule }} </h2>
 
  <div class="row">
       <div class="col-lg-3 col-sm-6"> <u>Date :</u>  {{ le_evt.date}} </div>
  </div>
  <u>Programme: </u><br>
  {{ le_evt.programme|linebreaks }}

  {% if le_evt.adresse1 is None and le_evt.adresse1 != '.' %}
  <p>Le lieu est encore à définir</p>
  {% else %}
  <p><u>Lieu</u></p>
  <div class="col-sm-12 ">   {{ le_evt.adresse1|default_if_none:"" }} </div>
  <div class="col-sm-12 ">   {{ le_evt.adresse2|default_if_none:"" }} </div>
  <span class="col-sm-2 "> {{ le_evt.codepostal|default_if_none:"" }}</span>
  <span class="col-sm-10 "> {{ le_evt.ville|default_if_none:"" }}</span>
  {% endif %}


    
  <br>
   <div class="row">
    <div class="col-lg-2 col-sm-3"><a href="{% url 'listevtsmembre'  %}" class="btn btn-primary">Revenir</a></div>
    <div class="col-lg-2 col-sm-3"><a href="{% url 'delinscription' le_evt.id %}" class="btn btn-danger">Annuler inscription</a></div>
  </div>

 
{% endblock %}
