
{% extends 'base.html' %}

{% if user.is_staff %}

  {% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'listresas' %}" >Mes réservations</a></li>
    <li class="breadcrumb-item active">Dates de depôt</li>
  {% endblock %}
{% endif %}

{% block content %}

  <h3>Dates auxquelles un dépot est possible</h3>  
  <br>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
          <th>Date Dépot</th>
          <th>Places totales</th>
          <th>Places dispos</th>
      </tr>
    </thead>
    <tbody>
      {% for capacite in les_capacites %}
          <tr>
            <td>
              <a href="{% url 'newresa' capacite.id %}">{{ capacite.datecapa }}</a> 
            </td>
            <td> {{ capacite.nreinesmax }}</td>
            <td> {{ capacite.get_reinesdispos}}</td>
            {% if capacite.get_reinesdispos > 0 %}
            <td><a href="{% url 'newresa' capacite.id %}" class="btn btn-outline-primary">Choisir</a></td>
            {% endif %}
          </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'listresas' %}" class="btn btn-outline-success">Revenir</a>

{% endblock %}
