{% extends 'base.html' %}

{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block breadcrumb %}

{% endblock %}

{% block content %}

<h1>Menu administrateur SFANM</h1>

<!-- <h2>Gestion de mes réservations et inscriptions</h2>
<a href="{% url 'listresas'  %}" >Liste de mes réservations</a>
<br>
<a href="{% url 'listevtsmembre'  %}" >Liste de mes inscriptions</a>
<br>
<br>
<br>
<h2>Menu administration</h2> -->
<a href="{% url 'listgestion'  %}" >Visualisation de l'occupation de la station</a>
<br>
<a href="{% url 'listevenements'  %}" >Gestion des formations</a>
<br>
<a href="{% url 'listmembres'  %}" >Listes des membres - reçus et droit d accès</a>
<br>
<a href="{% url 'razacquitte'  %}" >Réinitialisation des reçus (début d'année)</a>
<br>


<h3> Administration via Django-ADmin</h3>
<br>
<a href="{% url 'admin:resasfanm_capacite_changelist'  %}" >Gestion des dates d'ouvertures</a>
<br>
<a href="{% url 'admin:users_customuser_changelist'  %}" >Gestion des membres</a>

{% endblock %}
