
{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Les évênements</li>

{% endblock %}

{% block content %}

   <div class="row">

  </div>
  <br>
  <br>


 <h2> Les évènements à la SFANM</h2>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
          <th>Date</th>
          <th>libellé</th>
          <th>Places libres</th>
          <th>Inscrit</th>
      </tr>
    </thead>
    <tbody>
      {% for evt in les_evts %}
     
          <tr>

            <td> {{ evt.date }}</td>
            <td> {{ evt.intitule }}</td>
            <td> {{ evt.get_placeslibres }}</td>
            <td> {{ evt.estinscrit|yesno:"oui,non"}} </td>
            {% if evt.estinscrit %}
             <td><a href="{% url 'affpourdelinscription' evt.id %}" class="btn btn-outline-danger">Annuler</a></td>
            {% else %}
              {% if evt.get_placeslibres > 0 %}
                 <td><a href="{% url 'newinscription' evt.id %}" class="btn btn-outline-primary">S inscrire</a></td>
              {% else %}
                 <td><a href="" class="btn btn-secondary">complet</a></td>
              
              {% endif %}
           {% endif %}
            <td><a href="{% url 'voirevt' evt.id %}" class="btn btn-outline-secondary">détail</a></td>

          </tr>
      {% empty %}
        <p>Il n'y a pas de formation/évènement planifié</p>
      {% endfor %}
    </tbody>
  </table>
  <br>
 
{% endblock %}
