
{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Activité de la station</li>
{% endblock %}

{% block content %}

   <div class="row">

  </div>

  <br>
  <br>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
          <th>Date</th>
          <th>Nb entrees</th>
          <th>Nb sorties</th>
          <th>Nb reines</th>
          <th>Nb Apidea/Kieler</th>
          <th>Nb Mini Plus</th>
          <th>Nb Warre</th>
          <th>Nb ruchettes Dadant</th>

      </tr>
    </thead>
    <tbody>
      {% for capacite in les_capacites %}
          <tr>

            <td> {{ capacite.datecapa }} </td>
            <td> <a href="{% url 'listentrees' capacite.datecapa %}">{{ capacite.get_entreesdate }} </a></td>
            <td> <a href="{% url 'listsorties' capacite.datecapa %}">{{ capacite.get_sortiesdate }} </a></td>
            <td> {{ capacite.get_encoursreines }} </a></td>
            <td> {{ capacite.get_encoursruches1 }} </a></td>
            <td> {{ capacite.get_encoursruches2 }} </a></td>
            <td> {{ capacite.get_encoursruches3 }} </a></td>
            <td> {{ capacite.get_encoursruches4 }} </a></td>
            <td> <a href="{% url 'editentreesortie' capacite.datecapa %}">Imprimer </a> </td>

            
          </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
   
{% endblock %}
