
{% extends 'baseresa.html' %}
    {% if user.is_staff %}

      {% block breadcrumb %}
      <li class="breadcrumb-item active">Mes reservations</li>

      {% endblock %}
    {% endif %}

{% block content %}

   <div class="row">

  </div>
  <br><p>Avant votre réservation, merci de consuler:</p>
  <a href="https://sfanm.fr/reglement-d-acces">Règlement d'accès</a><br>
  <a href="https://sfanm.fr/fonctionnement-de-la-station">Calendrier élevage</a>
  <br>
  <br>
 <h2> Mes réservations à la SFANM  <a href="{% url 'capacites'  %}" class="btn btn-primary">Nouvelle reservation</a></h2>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
          <th>Date Dépôt</th>
          <th>Date retrait</th>
          <th>Nombre ruches</th>
          <th>Nombre reines</th>
      </tr>
    </thead>
    <tbody>
      {% for resa in les_resas %}
     
          <tr>

            <td> {{ resa.datedepot }}</td>
            <td> {{ resa.dateretrait }}</td>
            <td> {{ resa.nbruches }}</td>
            <td> {{ resa.nbreine }}</td>
            <td><a href="{% url 'modresa' resa.id %}" class="btn btn-primary">Modifier Réservation</a></td>
            <td><a href="{% url 'affpourdelresa' resa.id %}" class="btn btn-danger">Annuler Réservation</a></td>
            
          </tr>
      {% empty %}
        <p>Vous n'avez pas de réservation à venir</p>
      {% endfor %}
    </tbody>
  </table>
  <br>
    
  <br>
 
{% endblock %}
