
{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Mes reservations</li>

{% endblock %}

{% block content %}

   <div class="row">

  </div>
  <br>
  <br>
 <h2> Mes réservations à la SFANM  <a href="{% url 'capacites'  %}" class="btn btn-primary">Nouvelle reservation</a></h2>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
          <th>Date Dépôt</th>
          <th>Date retrait</th>
          <th>Nombre ruches</th>
          <th>Nombre reines</th>
      </tr>
    </thead>
    <tbody>
      {% for resa in les_resas %}
     
          <tr>

            <td> {{ resa.datedepot }}</td>
            <td> {{ resa.dateretrait }}</td>
            <td> {{ resa.nbruches }}</td>
            <td> {{ resa.nbreine }}</td>
            <td><a href="{% url 'modresa' resa.id %}" class="btn btn-primary">Modifier</a></td>
            <td><a href="{% url 'affpourdelresa' resa.id %}" class="btn btn-danger">Annuler</a></td>
            
          </tr>
      {% empty %}
        <p>Vous n'avez pas de réservation à venir</p>
      {% endfor %}
    </tbody>
  </table>
  <br>
    


 <h2> Les évènements à la SFANM</h2>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
          <th>Date</th>
          <th>libellé</th>
          <th>Places libres</th>
          <th>Inscrit</th>
      </tr>
    </thead>
    <tbody>
      {% for evt in les_evts %}
     
          <tr>

            <td> {{ evt.date }}</td>
            <td> {{ evt.intitule }}</td>
            <td> {{ evt.get_placeslibres }}</td>
            <td> {{ evt.estinscrit|yesno:"oui,non"}} </td>
            {% if evt.estinscrit %}
             <td><a href="{% url 'affpourdelinscription' evt.id %}" class="btn btn-danger">Annuler</a></td>
            {% else %}
            <td><a href="{% url 'newinscription' evt.id %}" class="btn btn-primary">S inscrire</a></td>
           {% endif %}
            <td><a href="{% url 'voirevt' evt.id %}" class="btn btn-secondary">détail</a></td>

          </tr>
      {% empty %}
        <p>Il n'y a pas de formation/évènement planifié</p>
      {% endfor %}
    </tbody>
  </table>
  <br>
 
{% endblock %}
