
{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'listgestion' %}" >Activité de la station</a></li>
  <li class="breadcrumb-item active">Les Entrées du {{ date_entree }} </li>
{% endblock %}

{% block content %}

  <h3>Les entrées</h3>
  <br>
  <br>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
          <th>Apiculteur</th>
          <th>Date sortie</th>
          <th>Apidéa</th>
          <th>MiniPlus</th>
          <th>Warré</th>
          <th>Ruchette</th>
          <th>Total</th>
          <th>Nombre reines</th>
      </tr>
    </thead>
    <tbody>
      {% for resa in les_resas %}
          <tr>
            <td> {{ resa.apiculteur.email }}</td>

            <td> {{ resa.libelretrait }}</td>
            <td> {{ resa.nbdepotfecond1 }}</td>
            <td> {{ resa.nbdepotfecond2 }}</td>
            <td> {{ resa.nbdepotfecond3 }}</td>
            <td> {{ resa.nbdepotfecond4 }}</td>
            <td> {{ resa.nbruchesdepot }}</td>
            <td> {{ resa.nbreinedepot }}</td>
            <td> <a href="{% url 'entreereelle' resa.id %}"  class="btn btn-outline-primary">Entrées Réelles </a> </td>
            <td> <a href="{% url 'modResaApi' resa.id  resa.apiculteur.id %}"  class="btn btn-outline-primary">Modifier</a> </td>
            <td> <a href="{% url 'affpourdelresaapi' resa.id %}"  class="btn btn-outline-danger">Supprimer</a> </td>
            
          </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
    <a href="{% url 'listgestion'  %}" class="btn btn-outline-primary">Retour</a>
  
{% endblock %}
