
{% extends 'baseadmin.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'listevenements' %}" >Les évènements</a></li>
  <li class="breadcrumb-item active">Liste des participants</li>
{% endblock %}

{% block content %}
  <h3>Participant à {{le_evt.intitule }}</h3>
  <br>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
          <th>nom</th>
          <th>prenom</th>
          <th>Téléphone </th>
      </tr>
    </thead>
    <tbody>
      {% for part in les_parts %}
          <tr>
            <td>
              {{ part.apiculteur.nom }}
            </td>
            <td> {{ part.apiculteur.prenom }}</td>
            <td> {{ part.apiculteur.telephone }}</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'listevenements'  %}" class="btn btn-primary">Retour</a>

{% endblock %}
