
{% extends 'baseadmin.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'listgestion' %}" >Activité de la station</a></li>
  <li class="breadcrumb-item active">Les Sorties du {{ date_sortie }} </li>
{% endblock %}

{% block content %}

  <h3>Les sorties</h3>

  <br>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
          <th>Apiculteur</th>
          <th>Date Dépot</th>
          <th>Nombre ruches</th>
          <th>Nombre reines</th>
      </tr>
    </thead>
    <tbody>
      {% for resa in les_resas %}
          <tr>
            <td> {{ resa.apiculteur.email }}</td>

            <td> {{ resa.datedepot }}</td>
            <td> {{ resa.nbruches }}</td>
            <td> {{ resa.nbreine }}</td>
            
          </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
    <a href="{% url 'listgestion'  %}" class="btn btn-primary">Retour</a>
  
{% endblock %}
