Bonjour {{ le_api.prenom }} {{ le_api.nom }},

La SFANM vous confirme la réservation de place suivante:

- date de dépot: {{la_resa.datedepot|date:"Y-m-d" }}
- date de fin: {{la_resa.dateretrait }}
- nombre reines en fécondation : {{la_resa.nbreine }}
- nombre de ruchette type Apidea : {{la_resa.nbtypfecond1}}
- nombre de ruchette type Mini Plus : {{la_resa.nbtypfecond2}}
- nombre de ruchette type Warré : {{la_resa.nbtypfecond3}}
- nombre de ruchette type ruchette Dadant : {{la_resa.nbtypfecond4}}

Nous vous rappelons le règlement d'accès: https://sfanm.fr/reglement-d-acces 
Ainsi que le calendrier d'élevage: https://sfanm.fr/fonctionnement-de-la-station*

Nous attirons donc votre attention sur le fait que les grilles à mâles, l'identification de vos ruches avec les étiquettes fournies en pièce jointe sont obligatoires.

A bientôt
L'équipe de la SFANM



