Bonjour {{ la_resa.apiculteur.prenom }},

La SFANM vous rappelle que vous avez prévu de déposer ce {{la_resa.datedepot}}:

- nombre reines en fécondation : {{la_resa.nbreine }}
- nombre de ruchettes type apidea: {{la_resa.nbtypfecond1 }}
- nombre de ruchettes type miniplus: {{la_resa.nbtypfecond2 }}
- nombre de ruchettes type warre: {{la_resa.nbtypfecond3 }}
- nombre de ruchettes type Dadant: {{la_resa.nbtypfecond4 }}


Si ce n'est pas ce que vous comptez nous déposer samedi, nous vous remercions de mettre à jour ces informations pour nous permettre de gérer au mieux les capacités de la station.

Nous vous rappelons que les grilles à mâles sont obligatoires.

A bientôt
L'équipe de la SFANM

NB: la station est ouverte de 19h00 à 20h00

Nous vous rappelons le règlement d'accès: https://sfanm.fr/reglement-d-acces,
