{% extends 'baseadmin.html' %}

{% load widget_tweaks %}
{% load crispy_forms_tags %}


{% block title %}Crée une nouvel evenement {% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'listevenements' %}" >Les évènements</a></li>

{% if mod   == True %}
    <li class="breadcrumb-item active"> Modification Evenement</li>
{% else %}
    <li class="breadcrumb-item active"> Création Evenement</li>
{% endif %} 

{% endblock %}


{% block content %}
{% if msg != "" %}
                    <div class="alert alert-danger">
                        <a class="close" href="#" data-dismiss="alert">×</a>

                        {{ msg }}

                    </div>
{% endif %}
  {% crispy form %}
{% endblock %}

