{% load static %}


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Gestion des réservations SFANM{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
</head>   

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="text-center ">
      <a href="{% url 'home' %}">Réservations et Formations</a>
    </h1>
    {% block content %}
    {% endblock %}
  </div>
{% endblock %}
</html>
