{% load static %}


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Gestion des réservations SFANM{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
</head>   

{% block stylesheet %}
<!--  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">  -->
    <style>    
    body {
      background-color: rgba(204, 255, 204, 0.8);
    }
    input[type="text"], textarea{
    background-color:#DAF7A6;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #000000;
    }
    </style>
  
{% endblock %}

{% block body %}
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
{% endblock %}
</html>
