


{% extends './base_accounts.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block title %}Connection à Mes RDV SFANM{% endblock %}

{% block content %}

    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Entrez vos identifiants</h3>
            {% for message in messages %}
              <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
              </div>
            {% endfor %}
            <div css_class="mw-100">
            {% csrf_token %}
             {% crispy form %}
              </div>
                          
          </div>
          <div class="card-footer text-center py-2">
            <a href="{% url 'password_reset' %}" >Mot de passe oublié</a>
          </div>
          
          <div class="card-footer text-center">
             <a href="{% url 'signup' %}">Adhérer à la station</a>
          </div>
          <div class="card-footer text-center">
             <a href="{% url 'contact' %}">Nous contacter</a>
          </div>
          
        </div>
      </div>
    </div>
  
{% endblock %}
