{% extends './base_accounts.html' %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="card bg-transparent" >
        <div class="card-body bg-transparent">
          <h3 class="card-title">Votre mot de passe !</h3>
          <p>Saisissez votre adresse mail et nous vous enverrons un lien.</p>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">Envoi</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
