
{% extends 'baseadmin.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item">Liste des adhérents</li>

    <li class="breadcrumb-item active">Raz reçu</li>
{% endblock %}

{% block content %}

<h2>Réinitialisation de l'information d'envoi de reçu</h2>  <br>

  <br>
   <div class="row">
    <div class="col-lg-3 col-sm-3"><a href="{% url 'home'  %}" class="btn btn-outline-primary btn-block">Revenir</a></div>
    <div class="col-lg-3 col-sm-3"><a href="{% url 'membresrazacquitte' %}" class="btn btn-outline-danger btn-block">Réinitialiser</a></div>
  </div>

{% endblock %}
