{% extends './base_accounts.html' %}

{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block title %}Adhérer à la SFANM{% endblock %}

{% block content %}

    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-10 col-sm-8">
        <div class="card bg-transparent border-0">
          <div class="card-body bg-transparent">
            <h3 class="card-title">Demande d'adhésion</h3>
            <p><u>Réadhésion:</u> envoyez votre cotisation (15€), accompagné de vos coordonées à:<br>
            Service Comptable - SFANM<br>
            3 résidence de la fontaine<br>
            59570 HOUDAIN LEZ BAVAY</p>
            <p><u>Nouvelle Adhésion:</u> merci de compléter le formulaire ci dessous et laissez-vous guider.</p>
            {% for message in messages %}

               <div style="text-align:center ; color:red">     {{ message }} <br></div>
            {% endfor %}
            
             {% crispy form %}
            
          </div>
        </div>
      </div>
    </div>
{% endblock %}
