Bonjour {{le_user.prenom }} {{le_user.nom }},

Nous avons bien reçu votre demande d'adhésion à la SFANM. Afin de valider celle-ci, nous vous prions d'imprimer ce Courriel et l'envoyer a l'adresse ci-dessous, accompagné de votre chèque de cotisation annuelle, de 15€ à l'ordre de "SFANM", à l'adresse suivante :

Service Comptable - SFANM
3 résidence de la fontaine 
59570 HOUDAIN LEZ BAVAY

Toute l’équipe de La Station de Fécondation Abeille Noire de Mormal s’associe pour vous souhaiter la bienvenue et vous remercier infiniment pour le soutien que vous apportez à notre patrimoine nature, L’Abeille Noire.
Votre Adhésion sera effective à la réception de votre règlement, accompagné de ce mail. 
L’accès au site web, et aux activités de la station (réservation fécondation, formation élevage, biométrie, etc) en tant que membre , vous sera ouvert à ce moment là.

Si vous souhaitez vous investir dans la vie de notre association, toutes les idées et les initiatives sont les bienvenues. 
contactez-nous pour les présenter.

Bzzzz, et à très bientôt !
L’équipe de la SFANM

Nom           : {{ le_user.nom }}
Prénom        : {{ le_user.prenom }}
Email         : {{ le_user.email }}
Téléphone     : {{ le_user.telephone }}
Adresse       : {{ le_user.adresse1 }}
Adresse       : {{ le_user.adresse2 }}
Code Postal   : {{ le_user.codepostal }}
Ville         : {{ le_user.ville }}

  
