{% load cms_tags menu_tags %}


    {% for child in children %}
<!-- no child pages  -->
        {% if child.is_leaf_node %}
            <a class="dropdown-item" href="{{ child.get_absolute_url }}}">{{child.get_menu_title }}</a>

        {% endif %}
<!-- /no child pages  -->
<!-- has child pages  -->
        {% if not child.is_leaf_node or child.ancestor %}

              <div class="dropdown navbar-brand">
          
                <a class="navbar-brand dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{child.get_menu_title }}
                </a>
    
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {% if child.get_descendants %}
                        {% for kid in child.get_descendants %}
                                <a class="dropdown-item" href="{{ kid.get_absolute_url }}">{{kid.get_menu_title }}</a>

                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
<!-- /has child pages  -->
    {% endfor %} 
<!-- /end for child -->
