
<h1>Protection suivi intersite</h1>
<br>
<br>
<p>Si vous voyez ce message, il faut dans un premier temps essayer de raffraichir la page</p>
<p>En cas, d'echec, c'est que la protection de suivi intersite de votre navigateur est activee</p>
<p>Sur iPhone ou iPad: il faut aller dans parametres, puis Safari, puis supprimer la protection de suivi intersite, option
"ne pas suivre" ou "empecher le suivi intersite" suivant les versions</p>
<p>Autre recommandation: mettre a jour votre navigateur (chrome, internet exploreur ou firefox) ou essayer avec
un autre navigateur</p>

<p>En dernier recours, vous pouvez utiliser ces liens:</p>

<p>Formations: https://sfanm.deje5295.odns.fr/resasfanm/listevts</p>
<p>Réservation: https://sfanm.deje5295.odns.fr/resasfanm/listresas</p>

