{% load static %}
{% load cms_tags menu_tags cache %}

    <meta charset="utf-8">
    <title>{% block title %}Gestion des réservations SFANM{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet" />
    
    <link
    href="https://unpkg.com/@videojs/themes@1/dist/city/index.css"
    rel="stylesheet"
  />

    
    
    
    
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}"/>

   <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}"/>
    {% block stylesheet %}
    <style>    
    body {
      background-color: rgba(204, 255, 204, 0.8);;
    }
    input, textarea{
    background-color:#666;
    color: #FFF;
    }
    </style>
    {% endblock %}  <!-- HERE -->
<br>
