{% load i18n cms_tags %}


<div class="djangocms-video-plugin" id="noContextMenu">

        {% if instance.embed_link %}
        <p> instance</p>
        {# show iframe if embed_link is provided #}
        {#<iframe src="{{ instance.embed_link_with_parameters }}" {{ instance.attributes_str }} frameborder="0" allowfullscreen="true"></iframe> #}
        {# <video poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg" class="js-player"> #}
            <video {% if instance.poster %} poster="{{ instance.poster.url }}"{% endif %} class="js-player" data-setup='{}'>
            <source src="{{ instance.embed_link_with_parameters }}"/></video>


        {% with disabled=instance.embed_link %}
            {% for plugin in instance.child_plugin_instances %}
                {% render_plugin plugin %}
            {% endfor %}
        {% endwith %}
    {% else %}
<p>Test</p>
        {# render <source> or <track> plugins ajt de class="js-player id="player"#}
        <video-js controls playsinline     width="640"
        height="480"     class="video-js vjs-theme-city" liveui data-setup='{}' preload='auto'
            {% if instance.poster %} poster="{{ instance.poster.url }}"{% endif %}  >

            {% for plugin in instance.child_plugin_instances %}
                {% render_plugin plugin %}
            {% endfor %}
            <p class="vjs-no-js">
            {% trans "Your browser doesn't support this video format." %}
            </p>
        </video-js> 

    {% endif %}

    {% comment %}
        # Available variables:
        {{ instance.template }}
        {{ instance.label }}
        {{ instance.embed_link }}
        {{ instance.poster }}
        {{ instance.attributes_str }}
    {% endcomment %}



</div>